body {
    margin: 0;
    overflow: hidden;
}

.portada {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Puedes ajustar el color de fondo según tu diseño */
}